body{
  background-color: rgb(255, 255, 255);
}

.header{
  background-color: rgb(43, 43, 43);
  color:white;
  height: 50px;
}

.price-color{
  color:grey;
}

.img-size{
  width: 300px;
  height:300px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.header-text{
  margin-left: 100px;
}

.details{
  background-color: white;
  border: 2px solid rgb(228, 227, 227);
}

.cursor{
  cursor:pointer;
}

.paragraph-spacing{
  padding: 10px;
}

.shopping-cart{
  text-align: left;
}

.empty-cart{
  text-align:center;
}

.address{
  resize:none;
}

.checkout-button{
  width: 120px;
  margin-right: 60px;
}
