body{
  background-color: rgb(255, 255, 255);
}

.header{
  background-color: #baae97;
  color:white;
  height: 70px;
}

.price-color{
  color:grey;
}

.img-size{
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.product-img{
  width: 400px;
  height:400px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.header-text{
  margin-left: 100px;
  font-family: 'Sofia', cursive;
  font-size: 25px;
}

.details{
  background-color: white;
  border: 2px solid rgb(228, 227, 227);
}

.cursor{
  cursor:pointer;
}

.shopping-cart{
  text-align: left;
}

.empty-cart{
  text-align:center;
}

.address{
  resize:none;
}

.checkout-button{
  width: 120px;
  margin-right: 60px;
}

.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.main{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.row-width{
  max-width: 80%;
}
